@import url('/inter/inter.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body { @apply h-full overflow-hidden }

    * { font-family: "Inter", sans-serif; }

    ::-webkit-scrollbar { @apply w-2 h-2 cursor-pointer }
    ::-webkit-scrollbar-track { background: transparent; }
    ::-webkit-scrollbar-thumb { @apply bg-gray-300 rounded-md }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
    input[type=number] { -moz-appearance: textfield; }
}
